<div class="Admin_dashboard">
    <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

    <div class="row">
        <div class="col-xl-6 col-xxl-5">
            <div class="w-100">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Total Complaints</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary" style="font-size:1.2rem ;">
                                            <i class="fa-solid fa-list-ul"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{tatal_complaints}}</h1>
                                <div class="mb-0">
                                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Complaints Today</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary" style="font-size:1.2rem ;">
                                            <i class="fa-solid fa-calendar-day"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">1</h1>
                                <div class="mb-0">
                                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Pending Complaints</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary" style="font-size:1.2rem ;">
                                            <i class="fa-solid fa-exclamation"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{pending_complaints}}</h1>
                                <div class="mb-0">
                                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Reapired Today</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="fa-solid fa-gear"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">5</h1>
                                <div class="mb-0">
                                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-xxl-7">
            <div class="card py-0 my-0 flex-fill w-100 shadow-sm">
                <div class="card-header mb-0 pb-0 d-flex justify-content-between">
                    <h5 class="card-title mb-0">Complaints Registred </h5>
                    <h6 class="text-muted">Past 30 days</h6>
                </div>
                <div class="card-body px-2">
                    <div class="chart chart-sm px-2" style="min-height: 16rem;">
                        <canvas id="myChart" width="40vw" height="13vh"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        let reg_dates = [];
        let reg_count = [];
        let rep_dates = [];
        let rep_count = [];
        // Creating array from fetched data

        function create_lists(data) {
            let registred = data.registred;
            registred.forEach(element => {
                reg_dates.push(element.registred_date.substring(5, 11))
                reg_count.push(element.count)

            });

            let resolved = data.resolved;
            resolved.forEach(element => {
                if (element.resolved_date != null) {
                    rep_dates.push(element.resolved_date.substring(5, 11))
                    rep_count.push(element.count)
                }
            })

            console.log(reg_dates);
            console.log(rep_dates);
            // console.log(reg_count);
            plot_chart1(reg_dates, reg_count);
        }



        // Fetching data
        function load_date() {
            url = "{% url 'complaints_log' %}"
            // console.log(url);
            fetch(url, {
                method: "GET",
            }).then((res) => res.json()).then((data) => {

                console.log("data", data);
                create_lists(data);
            });
        }
        load_date();



        // Plotting Chart
        function plot_chart1(reg_dates, reg_count) {
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: reg_dates,
                    datasets: [{
                        label: 'Complaints Registred',
                        data: reg_count,
                        borderWidth: 1,
                        borderRadius: 3

                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            type: 'linear',
                            grace: '0%',
                            ticks: {
                                stepSize: 1
                            },
                            title: {
                                display: false,
                                text: 'Complaints Registred'
                            },
                            grid: {
                                // display:false
                            }
                        },
                        x: {
                            grid: {
                                display: false,
                            }
                        }

                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false


                }
            });


        }
    </script>

    <style>
        .comment_link {
            display: none;
            transition: ease-in-out .2s;
            /* direction: none; */
        }
        .comment_link:link {
            text-decoration: none;
        }
        .comment_show {
            display: block;
        }
        .comment_show:hover{
            color: rgb(18, 96, 175);
            font-weight: 600;
            border-radius: .1rem;
            transform: scale(1.05);
            /* background-color: rgb(218, 233, 255); */
    
        }
        .comment_num{
            position: relative;
            padding: 0 .18rem;
            font-size: .65rem;
            font-weight:600 ;
            top: 3px;
            left: -5px;
            border-radius:5rem;
            border: 1px solid rgb(158, 198, 238);
        }
    </style>


    <div class="card flex-fill shadow-sm mt-2 shadow-sm">
        <div class="card-header mt-1 py-1 px-2 mb-2">
            <h2 class=" my-0 p-1 px-1 card-title"> Recent Complaints </h2>
        </div>

        <div class="card-body p-0 pb-3 mb-0" style="overflow-x:scroll ;">
            <table class="table table-sm table-hover my-0" style="min-width:50rem;">
                <thead>
                    <tr class="" style=""">
                        <th class=" px-3 border-0">Complaint ID</th>
                        <th class="border-0">Customer</th>
                        <th class="border-0">Product</th>
                        <th class="border-0" width=400>Problem</th>
                        <th class="border-0">Registred on</th>
                        <th class="text-center border-0"  style="min-width:3rem ;"></th>
                        <th class="border-0" width="80" style="min-width:8rem; text-align: center; ">Status</th>
                        <th class="px-3 border-0">View</th>
                    </tr>
                </thead>

                <tbody">
                    {% for complaint in recent_complaints %}
                    <tr>
                        <th scope="row" class="px-3"><span># </span> <span class="complaint_id">{{complaint.id}}</span></th>
                        <td>{{complaint.customer_name}}</td>
                        <td> <span>{{complaint.brand}}</span> - <span>{{complaint.model_no}}</span> </td>
                        <td>{{complaint.problem|truncatewords:5}}</td>
                        <td>{{complaint.registred_date}}</td>
                        <td class="text-center">
                            <a href="{% url 'user_comment' complaint.id %}" class="comment_link" ><i class="bi bi-chat-square"></i> <span class="comment_num text-center m-auto">0</span> </a>
                        </td>
                        <td style="text-align: center;"><span class="mx-2 status_badge st{{complaint.complaint_status}}"
                                id="status_badge" style="font-size: .9rem;"></span></td>
                        <td class="px-3" width="40"><a href="{% url 'view_complaint' complaint.id %}">
                                <div class="btn btn-outline-primary rounded py-0 px-2"> -> </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

    <script>
        let lnk = document.getElementById('dashboard-link');
        lnk.classList.add('active');

        let complaint_id = document.getElementsByClassName("complaint_id");
        let comment_link = document.getElementsByClassName("comment_link");

        comment_link_arr = Array.from(comment_link);

        Array.from(complaint_id).forEach(async (e,i) => {
            let hasComment = await get_comment_info(e.innerText);
            if (hasComment) {        
                comment_link[i].classList.add('comment_show');
                comment_link[i].children[1].innerText = hasComment
            }
        });
        // console.log(complaint_id);


        async function get_comment_info(id) {
                url = `{% url 'has_comments' 121%}`
                url = url.replace('121',id)
                const response = await fetch(url);
                res = await response.text();
                return Number(res.slice(1,-1));
            }
    </script>