{% if messages %}
{% for message in messages %}
<style>
    #msg {
        animation: slidedownFadeIn ease-out .2s running;
        box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.404);
    }
    
    #alert {
        right: 1rem;
        z-index: 10;
    }
    
    @media screen and (max-width:760px) {
        #alert {
            right: 1rem;
            left: 1rem;
        }
        
    }

    @keyframes slidedownFadeIn {
        from {
            transform: translateY(-15px);
            opacity: 0;
        }

        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes slideupFadeOut
        {
            from{
                transform: translateY(0px);
                opacity: 1;
            }
            to {
                transform: translateY(-15px);
                opacity: 0;
            }
        }

</style>
<div id="alert" style="position:absolute; max-width: 40rem; top:4.5rem;">  
</div>


<script>

    function show_mag(type, msg) {
        let alertbox = document.getElementById("alert");
        let alert = `
        <div class="alert alert-{{message.tags}} alert-dismissible fade show py-auto my-auto" role="alert" id="msg">
            <span class = "col-10 my-auto">
                {% if message.tags == 'success' %}
                <i class="bi bi-check-circle-fill fs-4"></i>
                &nbsp;{{message}}
                {% else %}
                <i class="bi bi-exclamation-triangle-fill fs-4"></i>
                &nbsp;{{message}}
                {% endif %}
            
        </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="dismiss">
            <span aria-hidden="true">&times;</span>
        </button>
        </div> `;
        alertbox.innerHTML = alert;
        let close = document.getElementById("dismiss");
        let alt = document.getElementById("msg");
        function dismiss() {
            setTimeout(function () {
                alt.style.animation = "slideupFadeOut ease-in .2s";
                // dismiss();
                setTimeout(function () { close.click() }, 200);
            }, 5000)
        }
        setTimeout(dismiss(), 200);
    }
    show_mag('success', 'hello');
</script>
{% endfor %}
{% endif %}