{% extends 'base_dashboard_store.html' %}

{% block title %}Closed Complaints{% endblock title %}

{% block navbar_content %}
{% endblock navbar_content %}

{% block body_content %}

{% include 'home/partials/_message.html' %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white border">
        <li class="breadcrumb-item"><a href="{% url 'store' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Products</li>
    </ol>
</nav>

<div class="card flex-fill px-2">
    <div class="card-header row m-0 p-0 px-1 mt-2">
        <div class="header-left col-sm-8">
            <h3 class="card-title p-1 px-2 rounded">All Products</h3>
        </div>
        <div class="header-right col-sm-4">
            <div class="right-container d-flex justify-content-sm-end  mx-auto">
                <input type="search" class="form-control form-control" id="search_input" placeholder="Type to Search" >
                <button class="mx-1 btn btn-light" disabled id="clearText"><i class="fa-solid fa-circle-xmark text-danger"></i></button>
            </div>
        </div>
    </div>

    <!-- Results ----------------------->
    <style>
        #res_box {
            position:absolute;
            right: 2rem;
            top: 2.8rem;
            width: 85%; 
            min-width: 24rem;
            display: none;
        }
        @media screen and (max-width:760px) {
            #res_box {
                right: .3rem;
                top:4.8rem;
            }
        }

    </style>

    <div class="card rounded mt-1 mx-auto " id ="res_box" >

        <div class="card-body rounded border py-1 px-2">
                <div class="res_container" id="res_container" style="overflow-y:scroll; overflow-x: hidden; max-height: 60vh;"> 

                </div>
        </div>
    </div>
    <div class="card-body pt-1" style="overflow-x:scroll ;">
        <table class="table table-striped table-sm" style="min-width:30rem ;">
            <thead class="bg-secondary text-light">
                <th>SN</th>
                <th>Name</th>
                <th>Category</th>
                <th>Qty</th>
                <th>Price</th>
                <th></th>
            </thead>
            <tbody>
                {% for item in page_obj %}
                <tr class="">
                    <td>{{forloop.counter}}</td>
                    <td>{{item.name}}-{{item.brand}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unit_price}}</td>
                    <td width="40">
                        <a href="{% url 'view_product' item.id %}">
                            <div class="btn btn-outline-primary rounded py-0 px-2"> -> </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination-container" style="justify-content:space-between;" id="pagination">
            <div>
                Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

            </div>
            <div>
                <nav aria-label="Page navigation example">
                    {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info btn-sm" href="?page=1">First</a>
                    <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <a class="btn btn-info btn-sm" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                        class="btn btn-outline-info btn-sm" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}
                </nav>
            </div>
        </div>

    </div>
</div>


<script>
    search_input = document.getElementById("search_input");
    res_box = document.getElementById("res_box");
    res_container = document.getElementById("res_container");
    clearText = document.getElementById("clearText");

    search_input.addEventListener('keyup', () => {
        if(search_input.value.length <= 0) {
                clearText.disabled = true;
        }
        if(search_input.value.length > 0) {
                clearText.disabled = false;
                clearText.addEventListener('click',()=> {
                        search_input.value = "";
                        res_box.style.display = "none";
                        clearText.disabled = true;
                })
        }

        if(search_input.value.length >= 2) {
            search_product()
            res_box.style.display = "block";
        }
        if(search_input.value.length<2){
                // console.log("Searching stopped!");
                res_box.style.display = "none";
        }
    })
    token = '{{csrf_token}}'
//     console.log(token)


    function search_product() {
        searchTxt = search_input.value
        url = "{% url 'search_product' %}";
        fetch(url,{
                body:JSON.stringify({searchText:searchTxt}),
                method : "POST",
                credentials: 'same-origin',
                headers: {
                        "X-CSRFToken": token,
                }     
        }).then((res)=>res.json()).then((data)=>{
                console.log(data);
                populate_data(data);
        })
    }

    
    function populate_data(data){
        res = "";
        if(data.length<=0){
                // console.log("No results found.");
                res = `<h5 class="my-3 mx-4" >No Results found!</h5>`;
        }
        else{
                // console.log(data.length);
                res += `<h5 class = "pb-2"> 
                        Showing (<strong>${data.length}</strong>) result(s) for <strong>${searchTxt}</stong> ...
                        </h5>`
                        
                data.forEach(item => {  
                        let itemID = item.id;
                        let view_product = "{% url 'store' %}view-product/attr/".replace('attr', itemID);
                        res+=`
                                <div class="row bg-light p-2 mb-2 rounded mx-1">
                                        <div class="col-md-10">
                                                <div class="header d-flex my-0 pb-0">
                                                        <h5 class="my-auto">
                                                                ${item.brand} - ${item.name} | 
                                                        </h5>
                                                        <div class="badge mb-">     
                                                                <span class="badge badge-primary">${item.category}</span>
                                                                <span class="badge badge-info">${item.warrenty} months warrenty</span>
                                                                ${item.quantity<1? `</span> <span class="badge badge-danger">Not Available</span>`:`</span> <span class="badge badge-success">Available</span>`}
                                                        </div>
                                                </div>

                                                <span class = "text-secondary" style="font-size:.7rem; font-weight:400;">
                                                        ${item.desc}
                                                </span>
                                        </div>
                                        <div class="col-md-2 my-auto">
                                                <form class = "btn_form" action = "" method = "POST"">
                                                        {% csrf_token %}
                                                        <input type = "text" value = ${item.id} name = "pk_pro" hidden>
                                                        <a href=${view_product}>
                                                            <div class="btn btn-outline-primary rounded py-0 px-2 float-end">View</div>
                                                        </a>
                                                        
                                                </form>     
                                        </div>
                                </div>
                        `
                });
        }
        res_container.innerHTML = res;
    }
</script>

{% endblock %}