{% extends 'base_dashboard_store.html' %}
{% block title %}Store{% endblock title %}
{% block body_content %}

{% include 'home/partials/_message.html' %}
<div class="row">
    <div class="row col-md-7 mx-auto" >

        <div class="col-md-3 card flex-fill  mx-1 mb-1" style="min-width: 16rem" >
            <div class="card-header m-0 p-0 px-1 mt-2">
                <h3 class="card-title bg-light p-1 px-2 rounded"> PRODUCT DETAILS </h3>
            </div>
            <div class="card-body pt-1">
                <table>
                    <tbody>
                        <tr class="text-danger">
                            <td width="180">Zero Stock</td>
                            <th><span class="">{{zero_stock}}</span></th>
                        </tr>
                        <tr class="text-warning">
                            <td width="180">Low Stock</td>
                            <th><span class="">{{low_stock}}</span></th>
                        </tr>
                        <tr class="text-success">
                            <td width="180">Mock Stock</td>
                            <th><span class="">{{mock_stock}}</span></th>
                        </tr>
                        <tr class="">
                            <td width="180">All Item Group</td>
                            <th><span class="">{{all_items_group}}</span></th>
                        </tr>

                        <tr class="">
                            <td width="180">All Products</td>
                            <th><span class="">{{products_count}}</span></th>
                        </tr>
                        <tr class="text-primary" style="border-top:1px solid rgb(241, 241, 241) ;">
                            <td width="180">Total Value</td>
                            <th><span class="">{{total_value}}(INR)</span></th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3 card flex-fill w-md-50 mx-1 mb-1"  style="min-width: 16rem">
            <div class="card-header m-0 p-0 px-1 mt-2">
                <h3 class="card-title bg-light p-1 px-2 rounded"> SALES(INR) </h3>
            </div>
            <div class="card-body pt-1">
                <table>
                    <tbody>
                        <tr class="">
                            <td width="180">Today</td>
                            <th><span class="">3</span></th>
                        </tr>
                        <tr class="">
                            <td width="180">Yesterday</td>
                            <th><span class="">6</span></th>
                        </tr>
                        <tr class="">
                            <td width="180">This Week</td>
                            <th><span class="">51</span></th>
                        </tr>
                        <tr class="">
                            <td width="180">This Month</td>
                            <th><span class="">200</span></th>
                        </tr>
                        <tr class="">
                            <td width="180">Overall</td>
                            <th><span class="">3558</span></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 card flex-fill w-md-50 mx-1 ">
            <div class="row card-body p-2">
                <div class="col-md-5 left-box bg-light p-2 m-1 rounded" style=" min-height:8rem">
                    <span class="text-success"><i class="fa-solid fa-arrow-up"></i></span>
                    <span>Top Sold</span>
                    <br>
                    <h4 class="m-1 pl-2 text-secondary">DELL Keypad AC-43AT</h4>
                    <div class="body">
                        <span class="ml-1 pl-1 text-success" style="font-size: 2rem; font-weight: 800;">132</span>
                    </div>
                    <h6 class="text-secondary mt-0 pl-2">This Week</h6>
                </div>
                <div class="col-md-6 left-box bg-light p-2 m-1 rounded" style="min-height:8rem">
                    <span class="text-danger"><i class="fa-solid fa-arrow-down"></i></span>
                    <span>Least Sold</span>
                    <br>
                    <h4 class="m-1 pl-2 text-secondary">HP Display 14' XT-93 </h4>
                    <div class="body">
                        <span class="ml-1 pl-1 text-danger" style="font-size: 2rem; font-weight: 800;">14</span>
                    </div>
                    <h6 class="text-secondary mt-0 pl-2">This Week</h6>
                </div>


            </div>
        </div>
    </div>



    <div class="col-md-4 card flex-fill w-sm-50 mx-2 mx-3 mx-sm-3" style="min-width:20rem ;">
        <div class="card-header m-0 p-0 px-1 mt-2">
            <h3 class="card-title bg-light p-1 px-2 rounded"> Categories ({{category_cnt}})</h3>
        </div>
        <div class="card-body pt-1">
            <div class="chart chart-sm">
                <canvas id="product_cat" width="40vw" height="13vh"></canvas>
            </div>
        </div>
    </div>
</div>


<div class="card flex-fill w-sm-50 mx-1">
    <div class="card-header m-0 p-0 px-1 mt-2">
        <h3 class="card-title px-1 px-2 rounded">Recently Added </h3>
    </div>
    <div class="card-body pt-0" style="overflow-x:scroll ;">
        <table class="table table-striped table-sm" style="min-width:30rem ;">
            <thead class="bg-secondary text-light">
                <th width="50">SN</th>
                <th width = "700">Name</th>
                <th width = "120">Category</th>
                <th width = "110">Qty Avail</th>
                <th width = "110">Unit Price</th>
                <th >Action</th>
            </thead>
            <tbody>
                {% for item in recent_product %}
                <tr class="">
                    <td>{{forloop.counter}}</td>
                    <td>{{item.name}}-{{item.brand}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unit_price}}</td>
                    <td width="40">
                        <a href="{% url 'view_product' item.id %}">
                            <div class="btn btn-outline-primary rounded py-0 px-2 float-right"> -> </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>


    const category_list = JSON.parse('{{cat_list|safe}}')

    console.log(JSON.parse('{{cat_list|safe}}'))
    // console.log(category_list)
    const ctx = document.getElementById('product_cat').getContext('2d');
    let categories = []
    let categories_cnt = []
    category_list.forEach(e => {
        categories.push(e.category)
        categories_cnt.push(e.count)
    });
    // console.log(categories)
    // console.log(categories_cnt)
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: categories,
            datasets: [{
                label: 'My First Dataset',
                data: categories_cnt,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                hoverOffset: 4,


            }]
        },
        options: {
            scales: {
                grid: {
                    display: false
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'right'

                }
            },
            responsive: true,
            maintainAspectRatio: false,

        }
    });

</script>

{% endblock %}