{% extends 'base_dashboard.html' %}

{% block title %}All Complaints{% endblock title %}

{% block navbar_content %}

{% endblock navbar_content %}


{% block body_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Closed Complaints</li>
    </ol>
</nav>

<div class="card flex-fill px-2">
    <div class="card-header pb-0 d-flex justify-content-between flex-wrap">
        <span>
                <h2 class="card-title"> Closed Complaints </h2>
            </span>
        </div>
        
        <div class="card-body" id="table_container" style="overflow-x:scroll ;">
            <div id="all_comlpaints_table">
            <table class="table table-sm table-striped" style = "min-width: 50rem;">
                <thead>
                    <tr>
                        <th>Complaint ID</th>
                        <th>Customer</th>
                        <th>Product</th>
                        <th style=" width: 40%;">Problem</th>
                        <th>Registred on</th>
                        <th style="width: 10rem; min-width:5rem; text-align: center; ">Status</th>
                        <th>View</th>
                    </tr>
                </thead>
            
                <tbody class="table_body">
                    {% for complaint in page_obj %}
                        <tr>
                            <th scope="row"><span># </span> <span>{{complaint.id}}</span></th>
                            <td>{{complaint.customer_name}}</td>
                            <td> <span>{{complaint.product_name}}</span> - <span>{{complaint.product_model}}</span> </td>
                            <td>{{complaint.problem}}</td>
                            <td>{{complaint.registred_date}}</td>
                            <td style="text-align: center;"><span class="mx-2 status_badge st{{complaint.complaint_status}}" id="status_badge" style="font-size: .9rem;"></span></td>
                            <td>
                                {% if user.is_staff %}
                                <a href="{% url 'view_complaint' complaint.id %}">
                                    <div class="btn btn-primary rounded py-1">View</div>
                                </a>
                                {% else %}
                                <a href="{% url 'view_complaint_engg' complaint.id %}">
                                    <div class="btn btn-primary rounded py-1">View</div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
                

        <div>
            <nav aria-label="Page navigation example">
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-info btn-sm" href="?page=1">First</a>
                <a class="btn btn-outline-info btn-sm"
                    href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-info btn-sm" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                    class="btn btn-outline-info btn-sm" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info btn-sm"
                        href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
            </nav>
        </div>


    </div>
</div>

{% endblock %}