{% extends 'base_dashboard.html' %}

{% block title %} In Progress{% endblock title %}

{% block navbar_content %}

{% endblock navbar_content %}


{% block body_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">In Progress</li>
    </ol>
</nav>

<div class="card flex-fill px-2">
    <div class="card-header pb-0 d-flex justify-content-between flex-wrap">
        <span>
                <h2 class="card-title">In Progress</h2>
            </span>

        </div>
        
        <div class="card-body" id="table_container" style="overflow-x:scroll ;">
            {% if in_progress_complains %}
            <div id="all_comlpaints_table">
                <table class="table table-sm table-striped" style = "min-width: 50rem;">
                    <thead>
                        <tr>
                            <th>Complaint ID</th>
                            <th>Customer</th>
                            <th>Product</th>
                            <th>Registred on</th>
                            <th>Assigned On</th>
                            <th>Assign to</th>
                             
                            {% comment %} <th style=" width: 40%;">Problem</th> {% endcomment %}
                            <th style="width: 10rem; min-width:5rem; text-align: center; ">Status</th>
                        <th>View</th>
                    </tr>
                </thead>
                
                <tbody class="table_body">
                    {% for complaint in in_progress_complains %}
                    <tr>
                        <th scope="row"><span># </span> <span>{{complaint.id}}</span></th>
                        <td>{{complaint.customer_name}}</td>
                        <td> <span>{{complaint.product_name}}</span> - <span>{{complaint.product_model}}</span> </td>
                        <td>{{complaint.registred_date}}</td>
                        <td>{{complaint.assigned_date}}</td>
                        <td>{{complaint.assigned_to}} ({{complaint.assigned_to.engineer.expertise}})</td>
                            {% comment %} <td>{{complaint.problem}}</td> {% endcomment %}
                            <td style="text-align: center;"><span class="mx-2 status_badge st{{complaint.complaint_status}}" id="status_badge" style="font-size: .9rem;"></span></td>
                            <td>
                                {% if user.is_staff %}
                                <a href="{% url 'view_complaint' complaint.id %}">
                                    <div class="btn btn-primary rounded py-1">View</div>
                                </a>
                                {% else %}
                                <a href="{% url 'view_complaint_engg' complaint.id %}">
                                    <div class="btn btn-primary rounded py-1">View</div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="closing_empty d-flex justify-content-center align-items-center" style="height: 30vh;">
                <div class="icon text-secondary" style=" display:block; flex-direction:column;" >
                    <i style="font-size:6rem ;" class="fa-solid fa-inbox"></i>
                    <h4 class="text-center text-secondary">
                        All Sorted
                    </h4>
                </div>
            </div>
            {% endif %}
        
    </div>
</div>

{% endblock %}