{% extends 'base_dashboard.html' %}

{% block title %}View Compaint{% endblock title %}

{% block body_content %}
{% include 'home/partials/_message.html' %}

<style>
    .header_btn {
        display: flex;
        justify-content: end;
    }

    @media screen and (max-width:760px) {
        .header_btn {

            margin-top: 1rem;
            display: flex;
            justify-content: start;
    }
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'all_complaints' %}">All Complaints</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_complaint' complaint.id %}">View Complaint</a></li>
            <li class="breadcrumb-item active" aria-current="page">Compnents</li>
    </ol>
</nav>


<div class="row mx-0">
    <!-- Header -->
    <div class="card">
            <div class="card-body pt-2 pb-1 px-2">
                    <div class="header row bg-light py-1 rounded">
                            <div class="col-md-6 my-auto d-flex">
                                    <input type="search" class="form-control form-control-sm w-50" id="search_input" placeholder="Type to Search">
                                    <button class="mx-1 btn btn-secondary" disabled id="clearText">Clear</button>
                            </div>
                            <div class="col-md-6 header_btn">
                                 
                                    <div class="btn btn-primary mx-1"><i class="fa-solid fa-list"></i>
                                            View All</div>
                                    
                    </div>
            </div>
            <!-- <hr class="py-0 my-1"> -->
            <div class="card rounded mt-1" id ="res_box" style="position:absolute; min-width: 65%; display: none;" >
                <div class="card-body rounded border py-2">
                        <div class="res_container" id="res_container" style="overflow-y:scroll; overflow-x: hidden; max-height: 70vh;"> 

                        </div>
                </div>
            </div>
            <div class="px-1 mt-1">
                    
                    {% if components %}
                    <div class="table-container px-2">

                            <table class="table table-sm">
                                    <thead>
                                            <tr>
                                                    <th>Item</th>
                                                    <th>Description</th>
                                                    <th style=" width: 6rem;">Unit Price</th>
                                                    <th style=" width: 8rem;">Quantity</th>
                                                    <th style=" width: 8rem;">Action</th>
                                            </tr>
                                    </thead>

                                    <tbody>
                                            {% for component in components %}
                                            <tr>
                                                    <td>{{component.item_name}}</td>
                                                    <td>{{component.item_description}}</td>
                                                    <td>{{component.unit_price}}</td>
                                                    <td>{{component.quantity}}</td>
                                                    <td>
                                                        <form action="{% url 'delete_component' component.id %}" method="POST" >
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger btn-sm rounded"><i class="fa-solid fa-trash"></i></button>
                                                        </form>
                                                    </td>
                                            </tr>
                                            {% endfor %}
                                    </tbody>
                            </table>
                    </div>
                    {% else %}
                    <div class="empty_box d-flex justify-content-center mt-4">
                            <h3 class="text-secondary">No Components Added yet</h3>
                            
                    </div>
                    <div class="empty_box d-flex justify-content-center mb-4 text-secondary">
                            Click <a href="" class="btn btn-link p-0 px-1 mx-1 "> + Add Component </a>to add now
                            
                    </div>
                    
                    {% endif %}
            </div>
    </div>
</div>
<script>



    search_input = document.getElementById("search_input");
    res_box = document.getElementById("res_box");
    res_container = document.getElementById("res_container");
    clearText = document.getElementById("clearText");



    search_input.addEventListener('keyup', () => {
        if(search_input.value.length <= 0) {
                clearText.disabled = true;
        }
        if(search_input.value.length > 0) {
                clearText.disabled = false;
                clearText.addEventListener('click',()=> {
                        search_input.value = "";
                        res_box.style.display = "none";
                        clearText.disabled = true;
                })
        }

        if(search_input.value.length >= 2) {
        //     console.log("search activated!");
            search_product()
            res_box.style.display = "block";
        }
        if(search_input.value.length<2){
                // console.log("Searching stopped!");
                res_box.style.display = "none";
        }
    })
    token = '{{csrf_token}}'
    console.log(token)


    function search_product() {
        searchTxt = search_input.value
        url = "http://127.0.0.1:8000/store/search-product/";
        fetch(url,{
                body:JSON.stringify({searchText:searchTxt}),
                method : "POST",
                credentials: 'same-origin',
                headers: {
                        "X-CSRFToken": token,
                }     
        }).then((res)=>res.json()).then((data)=>{
                // console.log(data);
                populate_data(data);
        })
    }

    function populate_data(data){
        res = "";
        if(data.length<=0){
                console.log("No results found.");
                res = "No Results Found!";
        }
        else{
                // console.log(data.length);
                res += `<h5 class = "pb-2"> 
                        Showing (<strong>${data.length}</strong>) result(s) for <strong>${searchTxt}</stong> ...
                        </h5>`

                data.forEach(item => {
                        // console.log(item);   
                        res+=`
                                <div class="row bg-light p-2 mb-2 rounded">
                                        <div class="col-md-10">
                                                <div class="header d-flex my-0 pb-0">

                                                        <h5 class="my-auto">
                                                                ${item.brand} - ${item.name} [${item.category}]
                                                        </h5>
                                                        <div class="badge mb-">     
                                                                <span class="badge badge-success">Available</span>
                                                        </div>
                                                </div>
                                                <span class = "text-secondary" style="font-size:.7rem; font-weight:400;">
                                                        ${item.desc}
                                                </span>
                                        </div>
                                        <div class="col-md-1 my-auto">
                                                <form action = "{% url 'add_component' complaint.id %}" method = "POST">
                                                        {% csrf_token %}
                                                        <input type = "text" value = ${item.id} name = "pk_pro" hidden>
                                                        <input type = "submit" value = "+ Add" class = "btn btn-primary"> 
                                                </form>        
                                        </div>
                                </div>
                        `
                });
        }
        res_container.innerHTML = res;
    }

</script>

{% endblock %}