{% extends 'base_dashboard.html' %}

{% block title %}Resolved Complaints{% endblock title %}

{% block navbar_content %}

{% endblock navbar_content %}



{% block body_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Resolved Complaints</li>
    </ol>
</nav>

<div class="card flex-fill px-0">
    <div class="card-header pb-0 d-flex justify-content-between flex-wrap">
        <span>
            <h2 class="card-title"> All Complaints </h2>
        </span>

    </div>

    <div class="card-body px-0 py-2" id="table_container" style="overflow-x:scroll ;">
        <div id="all_comlpaints_table">
            <table class="table table-sm table-hover my-0" style="min-width: 50rem;">
                <thead class="">
                    <tr>
                        <th class="px-3 border-0" width="100">Complaint ID</th>
                        <th class="border-0" width="150">Product</th>
                        <th class="border-0" width="300">Problem</th>
                        <th class="border-0" width="100">Assigned on</th>
                        <th class="border-0" width="100">Resolved on</th>
                        <th class="border-0" style="width: 10rem; min-width:5rem; text-align: center; ">Status</th>
                        <th class="border-0">View</th>
                    </tr>
                </thead>
    
                <tbody class="table_body px-0">
                    {% for complaint in page_obj %}
                    <tr>
                        <th class="px-3" scope="row"><span># </span> <span>{{complaint.id}}</span></th>
                        <td> <span>{{complaint.brand}}</span> - <span>{{complaint.model_no}}</span> </td>
                        <td>{{complaint.problem|truncatewords:5}}</td>
                        <td>{{complaint.assigned_date}}</td>
                        <td>{{complaint.resolved_date}}</td>
                        <td style="text-align: center;"><span class="mx-2 status_badge st{{complaint.complaint_status}}"
                                id="status_badge" style="font-size: .9rem;"></span></td>
                        <td class="px-3" width="40">
                            {% if user.is_staff %}
                            <a href="{% url 'view_complaint' complaint.id %}">
                                <div class="btn btn-outline-primary rounded py-0 px-2"> -> </div>
                            </a>
                            {% else %}
                            <a href="{% url 'view_complaint_engg' complaint.id %}">
                                <div class="btn btn-outline-primary rounded py-0 px-2"> -> </div>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>



        <div class="m-2">
            <nav aria-label="Page navigation example">
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-info btn-sm rounded" href="?page=1">First</a>
                <a class="btn btn-outline-info btn-sm rounded"
                    href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-info btn-sm rounded" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                    class="btn btn-outline-info btn-sm rounded" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a class="btn btn-outline-info btn-sm rounded" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info btn-sm rounded"
                        href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
            </nav>
        </div>

    </div>
</div>

<script>
    let lnk = document.getElementById('resolved_c-link');
    lnk.classList.add('active');
</script>

{% endblock body_content %}