{% extends 'base_dashboard.html' %}

{% block title %} In Progress{% endblock title %}

{% block navbar_content %}

{% endblock navbar_content %}


{% block body_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white shadow-sm">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">In Progress</li>
    </ol>
</nav>

<div class="card flex-fill px-0 shadow-sm">
    <div class="card-header pb-0 d-flex justify-content-between flex-wrap">
        <span>
            <h2 class="card-title">Unassigned Complaints</h2>
        </span>

    </div>

    <div class="card-body px-0 pt-0" id="table_container" style="overflow-x:scroll ;">
        {% if unassigned_complaints %}
        <table class="table table-sm table-hover my-0" style="min-width: 50rem;">
            <thead class="">
                <tr>
                    <th class="px-3 border-0">Complaint ID</th>
                    <th class="border-0">Customer</th>
                    <th class="border-0" width="300">Product</th>
                    {% comment %} <th class="border-0" style=" width: 40%;">Problem</th> {% endcomment %}
                    <th class="border-0">Registred on</th>
                    <th class="border-0" width="200">Assigned (By->To)</th>
                    <th class="border-0" style="width: 10rem; min-width:5rem; text-align: center; ">Status</th>
                    <th class="border-0">View</th>
                </tr>
            </thead>

            <tbody class="table_body">
                {% for complaint in unassigned_complaints %}
                <tr>
                    <th class="px-3" scope="row"><span># </span> <span>{{complaint.id}}</span></th>
                    <td>{{complaint.customer_name}}</td>
                    <td> <span>{{complaint.brand}}</span> - <span>{{complaint.model_no}}</span> </td>
                    {% comment %} <td>{{complaint.problem}}</td> {% endcomment %}
                    <td>{{complaint.registred_date}}({{complaint.registred_by}})</td>
                    <td>
                        {% if complaint.assigned_to %}
                        {{complaint.assigned_date}}({{complaint.assigned_by}}->{{complaint.assigned_to}})
                        {% endif %}
                    </td>
                    <td style="text-align: center;"><span class="mx-2 status_badge st{{complaint.complaint_status}}"
                            id="status_badge" style="font-size: .9rem;"></span></td>
                    <td class="px-3" width="40">
                        <a href="{% url 'view_complaint' complaint.id %}">
                            <div class="btn btn-outline-primary rounded py-0 px-2"> -> </div>
                        </a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="closing_empty d-flex justify-content-center align-items-center" style="height: 30vh;">
        <div class="icon text-secondary" style=" display:block; flex-direction:column;">
            <i style="font-size:6rem ;" class="fa-solid fa-inbox"></i>
            <h4 class="text-center text-secondary">
                All Sorted
            </h4>
        </div>
    </div>
    {% endif %}
</div>


<script>
    let lnk = document.getElementById('unassigned-link');
    lnk.classList.add('active');
</script>

{% endblock %}