{% extends 'base_dashboard.html' %}

{% block title %}Unresolved Complaints{% endblock title %}

{% block navbar_content %}
{% endblock navbar_content %}

{% block body_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white shadow-sm">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pending Complaints</li>
    </ol>
</nav>

<div class="card flex-fill px-0 shadow-sm">
    <div class="card-header pb-0 d-flex justify-content-between px-3 flex-wrap">
        <span>
            <h2 class="card-title">Pending Complaints</h2>
        </span>

    </div>

    <div class="card-body px-0 pt-0" id="table_container" style="overflow-x:scroll ;">
        {% if unresolved_complaints %}
        <table class="table table-sm table-hover my-0" style="min-width: 50rem;">
            <thead class="">
                <tr>
                    <th class="px-3 border-0" width="100">Complaint ID</th>
                    <th class="border-0" width="150">Product</th>
                    <th class="border-0" width="400">Problem</th>
                    <th class="border-0" width="100">Assigned on</th>
                    <th class="border-0" style="width: 10rem; min-width:5rem; text-align: center; ">Status</th>
                    <th class="border-0">View</th>
                </tr>
            </thead>

            <tbody class="table_body">
                {% for complaint in unresolved_complaints %}
                <tr>
                    <th class="px-3" scope="row"><span># </span> <span>{{complaint.id}}</span></th>
                    <td> <span>{{complaint.brand}}</span> - <span>{{complaint.model_no}}</span> </td>
                    <td>{{complaint.problem|truncatewords:5}}</td>
                    <td>{{complaint.assigned_date}}</td>
                    <td style="text-align: center;"><span class="mx-2 status_badge st{{complaint.complaint_status}}"
                            id="status_badge" style="font-size: .9rem;"></span></td>
                    <td class="px-3" width="40">
                        {% if user.is_staff %}
                        <a href="{% url 'view_complaint' complaint.id %}">
                            <div class="btn btn-outline-primary rounded py-0 px-2"> -> </div>
                        </a>
                        {% else %}
                        <a href="{% url 'view_complaint_engg' complaint.id %}">
                            <div class="btn btn-outline-primary rounded py-0 px-2"> -> </div>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="closing_empty d-flex justify-content-center align-items-center" style="height: 30vh;">
        <div class="icon text-secondary" style=" display:block; flex-direction:column;">
            <i style="font-size:6rem ;" class="fa-solid fa-inbox"></i>
            <h4 class="text-center text-secondary">
                All Sorted
            </h4>
        </div>
    </div>
    {% endif %}
</div>


<script>
    let lnk = document.getElementById('unresolved_c-link');
    lnk.classList.add('active');
</script>

{% endblock %}