{% extends 'base_dashboard.html' %}

{% block title %}View Compaint{% endblock title %}


{% block body_content %}


<style>
        .header_btn {
                display: flex;
                justify-content: end;
        }

        @media screen and (max-width:760px) {
                .header_btn {

                        margin-top: 1rem;
                        display: flex;
                        justify-content: start;
                }
        }
</style>

{% include 'home/partials/_message.html' %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white shadow-sm">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'all_complaints' %}">All Complaints</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Complaint</li>
        </ol>
</nav>

<div class="card flex-fill shadow-sm">

        <div class="card-body">
                <div class="titlebar row bg-light ">
                        <div class="col-sm-9 left d-flex bg-light mb-1   align-items-center rounded flex-wrap  mx-0">
                                <h3 class="pl-2 my-2 px-2 text-secondary rounded"> Complaint ID #{{complaint.id}}</h3>
                                <span class="badge mx-2" id="status_badge"
                                style="font-size: .9rem;">{{complaint.complaint_status}}</span>
                                <!-- <h3 class="px-2 py-2 text-right bg-white my-2 text-secondary w-25 ">Status: </h3> -->
                        </div>
                        <div class="right col-sm-2 my-auto" style="min-width: 10rem; max-width: 12rem; position: relative; ">
                                <a href="{% url 'user_comment' complaint.id %}" class="btn btn-secondary"><i
                                        class="bi bi-chat-square"></i> Comment({{comment_count}})</a>
                        </div>
                </div>


                <style>
                        .borderless td,
                        .borderless th {
                                border: none;
                                margin: 0;
                                padding: .1rem .5rem;
                        }
                </style>

                <div class="complaint_details_container row justify-content-between px-1 text-dark"
                        style="flex-wrap:wrap;">
                        <div class="container-left col-sm-5 rounded px-2" style=" height: fit-content; ">
                                <!-- <h5 class="bg-light p-1 pl-2 rounded my-1"> ComStatus</h5> -->

                                <!-- <hr class="my-0"> -->


                                <div class="control_bar  bg-light  mt-2 py-2 align-items-center mx-auto  rounded mb-3"
                                        style=" width: 95%; border: 1px solid rgb(235, 234, 234); ">
                                        <h5 class="text-center" style="text-decoration:underline rgb(203, 203, 203);">
                                                <strong>Complaint Status</strong></h5>

                                        {% if complaint.complaint_status > 4 or complaint.complaint_status < 2 %} <h3
                                                class="text-center text-secondary bg-white py-3 mx-4 rounded "><i
                                                        class="fa-solid fa-lock"></i> Complaint Locked</h3>
                                                <div class="sub_warning w-100 d-flex justify-content-center">
                                                        <small class="text-secondary"><i
                                                                        class="bi bi-exclamation-circle"></i> You can
                                                                acces the complaint when it is open</small>
                                                </div>
                                                {% else %}
                                                <form action="{% url 'set_complaint_status' complaint.id %}"
                                                        method="post" class="w-100">
                                                        {% csrf_token %}
                                                        <div class="form_container w-100 d-flex justify-content-around">

                                                                <div class="form-check">
                                                                        <input class="form-check-input cmpStatus"
                                                                                type="radio" name="cmpStatus"
                                                                                id="cmpStatus1" value=2>
                                                                        <label class="form-check-label"
                                                                                for="cmpStatus1">
                                                                                In Progresss
                                                                        </label>
                                                                </div>
                                                                <div class="form-check">
                                                                        <input class="form-check-input cmpStatus"
                                                                                type="radio" name="cmpStatus"
                                                                                id="cmpStatus2" value=3>
                                                                        <label class="form-check-label"
                                                                                for="cmpStatus2">
                                                                                Repaired
                                                                        </label>
                                                                </div>
                                                                <div class="form-check">
                                                                        <input class="form-check-input cmpStatus"
                                                                                type="radio" name="cmpStatus"
                                                                                id="cmpStatus2" value=4>
                                                                        <label class="form-check-label "
                                                                                for="cmpStatus2">
                                                                                Failed
                                                                        </label>
                                                                </div>
                                                        </div>
                                                        <hr class="my-2">
                                                        <div class="submit-btn d-flex justify-content-center">
                                                                <input class="btn btn-primary rounded btn-sm py-1 w-25 mt-1"
                                                                        type="submit" value='Save'
                                                                        style="font-size:.9rem ;" />
                                                        </div>
                                                </form>
                                                {% endif %}
                                </div>
                        </div>

                        <div class="container-right bg-white col-sm-6 mr-2 p-1 border rounded ">
                                <h5 class="my-1 p-1 pl-2">Product Details</h5>
                                <hr class="m-0">
                                <div class="contents px-2  py-2 ">

                                        <table class=" borderless">
                                                <tbody>
                                                        <tr>
                                                                <td class="text-secondary"">Category</td>
                                                                <td>{{complaint.category}}</td>
                                                        </tr>
                                                        <tr>
                                                                <td class=" text-secondary">Brand</td>
                                                                <td>{{complaint.brand}}</td>
                                                        </tr>
                                                        <tr>
                                                                <td class="text-secondary">Model</td>
                                                                <td> {{complaint.model_no}} </td>
                                                        </tr>
                                                        {% if complaint.serial_no %}
                                                        <tr>
                                                                <td class="text-secondary">Serial Number</td>
                                                                <td>{{complaint.serial_no}}</td>
                                                        </tr>
                                                        {% endif %}
                                                        <tr>
                                                                <td class="text-secondary">Physical Condition</td>
                                                                <td>{{complaint.physical_condition}}</td>
                                                        </tr>
                                                        {% if complaint.updated_by %}
                                                        <tr>
                                                                <td class="text-secondary ">Updated</td>
                                                                <td>{{complaint.updated_by}} on {{complaint.updated_on}}
                                                                </td>
                                                        </tr>
                                                        {% endif %}
                                                </tbody>
                                        </table>

                                        <table class=" table table-sm bordreless">
                                                <tr>
                                                        <td class="text-secondary px-2" width="145">Checklist</td>
                                                        <td>
                                                                <span class>
                                                                        <button type="button" class="btn btn-primary px-2 py-0 my-auto mx-1 border rounded-pill  "
                                                                                data-bs-toggle="modal" data-bs-target="#update{{comment.id}}" style="font-size: .7rem;">
                                                                                View Checklist ->
                                                                        </button>

                                                                        <!-- Modal -->
                                                                        <div class="modal fade" id="update{{comment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                                                        aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                                <h1 class="modal-title fs-5" id="exampleModalLabel"> Pre Repair Checklist</h1>
                                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                                                aria-label="Close"></button>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                                <table
                                                                                                class='table table-sm table-borderless'>
                                                                                                <tbody>
                                                                                                        <tr>
                                                                                                        </tr>
                                                                                                        {% for item in check_list %}
                                                                                                        <tr>
                                                                                                                <th>{{item.c_list_key}}
                                                                                                                </th>
                                                                                                                <td>{{item.c_list_val}}
                                                                                                                </td>
                                                                                                        </tr>
                                                                                                        {% endfor %}
                                                                                                </tbody>
                                                                                        </table>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-secondary"
                                                                                                data-bs-dismiss="modal">Close</button>
                                                                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                                                                        </div>
                                                                                </div>
                                                                                </div>
                                                                        </div>
                                                                </span>
                                                        </td>
                                                </tr>
                                        </table>

                                        <div class="d-flex mx-0 px-0">
                                                <div class="col-md-2 pl-1 mx-0" style="min-width:5rem ;">
                                                        <strong class="mb-0">Problem</strong>
                                                </div>
                                                <div class="col-md-10 text-secondary" style="min-width:15rem ;">
                                                        {{complaint.problem}}
                                                </div>
                                        </div>

                                </div>

                        </div>



                </div>
        </div>


</div>
<!-- Components Used -->
<div class="card px-0">
        <!-- Header -->
        <div class="car">
                <div class="card-body pt-2 pb-1 px-0 shadow-sm" >
                        <div class="header  d-flex flex-wrap justify-content-between align-items-center px-3">
                                <div class="my-auto">
                                        <h4 class="my-auto py-auto text-secondary"><strong> Components Used </strong>
                                        </h4>
                                </div>
                                <div class="header_btn my-auto">
                                        {% if components %}
                                        <a class="btn btn-primary btn-sm rounded mx-0"
                                                href="{% url 'list_components' complaint.id %}"><i
                                                        class="fa-solid fa-gear"></i>
                                                Manage</a>
                                        {% else %}
                                        <a class="btn btn-primary btn-sm rounded mx-0"
                                                href="{% url 'list_components' complaint.id%}"><i
                                                        class="fa-solid fa-plus"></i>
                                                Add Component
                                                {% endif %}
                                        </a>
                                </div>
                        </div>

                        <div class="px-0 mt-1">
                                <hr class="m-0">
                                {% if components %}
                                <div class="table-container px-0" style="overflow-x: scroll; ">
                                        <table class="table table-sm hideScrollbar" style="min-width: 25rem;">
                                                <thead class="">
                                                        <tr>
                                                                <th class="px-3" width="240" style="border: none;" >Item</th>
                                                                <th style="border: none;">Description</th>
                                                                <th width="120" style="text-align:center; border: none;" >Quantity</th>
                                                        </tr>
                                                </thead>

                                                <tbody>
                                                        {% for component in components %}
                                                        <tr>
                                                                <td class="px-3">{{component.brand}}-{{component.name}}</td>
                                                                <td>{{component.desc}}</td>
                                                                <td style="text-align:center;">{{component.quantity}}
                                                                </td>

                                                        </tr>
                                                        {% endfor %}
                                                </tbody>
                                        </table>
                                </div>
                                {% else %}
                                <div class="empty_box d-flex justify-content-center mt-4">
                                        <h3 class="text-secondary">No Components Added yet</h3>

                                </div>
                                <div class="empty_box d-flex justify-content-center mb-4 text-secondary">
                                        Click <a href="{% url 'list_components' complaint.id%}"
                                                class="btn btn-link p-0 px-1 mx-1 "> + Add Component </a>to add now
                                </div>
                                {% endif %}
                        </div>
                </div>
        </div>
</div>



<script>
        complaint_opt = document.getElementsByClassName("cmpStatus");
        // console.log(complaint_opt)
        let cmp_selected = "{{complaint.complaint_status}}"
        // console.log(cmp_selected)
        let a = Array.from(complaint_opt);
        Array.from(complaint_opt).forEach(element => {
                if (element.value == cmp_selected) {
                        element.checked = true
                }
        });


        let status_badge = document.getElementById("status_badge");
        let status = "{{complaint.complaint_status}}";
        if (status == 2) {
                status_badge.classList.add("bg-primary")
                status_badge.innerHTML = "In Progress"
        }
        else if (status == 3) {
                status_badge.classList.add("bg-success")
                status_badge.innerHTML = "Repaired"
        }
        else if (status == 4) {
                status_badge.classList.add("bg-danger")
                status_badge.innerHTML = "Failed to Repair"
        }
        else if (status == 5) {
                status_badge.classList.add("bg-secondary")
                status_badge.innerHTML = "Repaired and Closed"
        }
        else if (status == 6) {
                status_badge.classList.add("bg-dark")
                status_badge.innerHTML = "Failed and Closed"
        }
        else {
                status_badge.classList.add("bg-warning")
                status_badge.innerHTML = "Registred"
        }


</script>

{% endblock body_content %}