{% extends 'base_dashboard.html' %}

{% block title %}Staff{% endblock title %}

{% block navbar_content %}

{% endblock navbar_content %}



{% block body_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Staff</li>
    </ol>
</nav>

<div class="card flex-fill px-1 px-sm-3">
    <div class="card-header  d-flex justify-content-between mt-2 flex-wrap px-1 bg-light  px-3  mb-2 py-2 rounded ">
        <span>
            <h2 class="card-title my-auto"> Admins</h2>
        </span>

    </div>


    <div class="card-body p-1" id="table_container">
        <div class="row" >
            {% for admin in admins %}
            <div class="col-sm-4"  style="min-width: 16rem;"> 

                <div class="card">
                    <div class="header d-flex align-items-center justify-content-between py-2 card-header bg-secondary text-light">
                        <div class="px-0">
                            <strong>{{admin.get_full_name}}</strong> 
                        </div>
                        <div class="action_bar ">
                            <a href="{% url 'profile' admin.id %}"><span class="btn rounded-circle btn-light btn-sm" title="View Profile"> -> </span></a>
                        </div>
                    </div>
                    <div class="card-body bg-light px-3 pb-2  ">
                        <table>
                            <thead>
                                <tr>
                                    <th width="100"></th>
                                    <th width="220"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>User </td>
                                    <th>{{admin.username}}</th>
                                </tr>
                                <tr>
                                    <td>Email </td>
                                    <th>{{admin.email}}</th>
                                </tr>
                               
                            </tbody>
                        </table>


                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>




<div class="card flex-fill px-1 px-sm-3">
    <div class="d-flex  justify-content-between rounded  bg-light  px-3 py-1 mb-2  align-items-center mt-2 ">
        <span>
            <h2 class="card-title my-auto"> Employees </h2>
        </span>
        <span>
            <a href="{% url 'employee_register' %}" class="btn btn-outline-info py-1 ">+ Add Employee</a>
        </span>
        
    </div>

    <div class="card-body p-1" id="table_container">


        <div class="row">
            {% for employee in employees %}
            <div class="col-sm-4" style="min-width: 16rem;">
                <div class="card">
                    <div class="header d-flex align-items-center justify-content-between py-2 card-header bg-info text-light">
                        <div class="px-0">
                            <strong>{{employee.user.get_full_name}}</strong> 
                        </div>
                        <div class="action_bar ">
                            <a href="{% url 'profile' employee.user.id %}"><span class="btn rounded-circle btn-light btn-sm" title="View Profile"> -> </span></a>
                        </div>
                    </div>
                    <div class="card-body bg-light px-3 pb-2  ">
                        <table>
                            <thead>
                                <tr>
                                    <th width="100"></th>
                                    <th width="220"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>User </td>
                                    <th>{{employee.user.username}}</th>
                                </tr>
                                <tr>
                                    <td>Email </td>
                                    <th>{{employee.user.email}}</th>
                                </tr>
                                <tr>
                                    <td>Mobile </td>
                                    <th>{{employee.mob}}</th>
                                </tr>
                                <tr>
                                    <td>Address </td>
                                    <th>{{employee.address}}</th>
                                </tr>
                                <tr>
                                    <td>Join Date </td>
                                    <th>{{employee.joinDate}}</th>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</div>


<!-- Engineer -->
<div class="card flex-fill px-1 px-sm-3">
    <div class="d-flex bg-light  px-3 py-1 mb-2 justify-content-between rounded    align-items-center mt-2">
        <span>
            <h2 class="card-title my-auto"> Engineers </h2>
        </span>
        <span>
            <a href="{% url 'engineer_register' %}" class="btn  btn-outline-primary  py-1">+ Add Engineer</a>
        </span>

    </div>


    <div class="card-body px-1 py-1" id="table_container">

        <div class="row" >
            {% for engineer in engineers %}
            <div class="col-sm-4"  style="min-width: 16rem;">
                <div class="card">
                    <div class="header d-flex align-items-center justify-content-between py-2 card-header bg-primary text-light">
                        <div class="px-0">
                            <strong>{{engineer.user.get_full_name}}</strong> 
                        </div>
                        <div class="action_bar ">
                            <a href="{% url 'profile' engineer.user.id %}"><span class="btn rounded-circle btn-light btn-sm" title="View Profile"> -> </span></a>
                        </div>
                    </div>
                    <div class="card-body bg-light px-3 pb-2  ">
                        <table>
                            <thead>
                                <tr>
                                    <th width="100"></th>
                                    <th width="220"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>User </td>
                                    <th>{{engineer.user.username}}</th>
                                </tr>
                                <tr>
                                    <td>Email </td>
                                    <th>{{engineer.user.email}}</th>
                                </tr>
                                <tr>
                                    <td>Mobile </td>
                                    <th>{{engineer.mob}}</th>
                                </tr>
                                <tr>
                                    <td>Address </td>
                                    <th>{{engineer.address}}</th>
                                </tr>
                                <tr>
                                    <td>Expertise </td>
                                    <th>{{engineer.expertise}}</th>
                                </tr>
                                <tr>
                                    <td>Join Date </td>
                                    <th>{{engineer.joinDate}}</th>
                                </tr>
                            </tbody>
                        </table>


                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock body_content %}